<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset = "UTF-8">
    <title>Business Requests</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>
<h1>hello</h1>
<div ng-app="myApp">
    <%for(var i=0; i<corp.length; i++){%>
    <form>
    <p>Name: <%=corp[i].name%> </p> <br>
        <p id="email" value="<%=corp[i].email%>">  Email: <%=corp[i].local.email%> </p><br>
        <p>  type: <%=corp[i].type%></p> <br>
        <a type = button href="/accept/:<%=corp[i].local.email%>" >Accept</a>
        <a type = button href="/reject/:<%=corp[i].local.email%>">reject</a>
    <%}%>
    </form>
</div>
</body>
</html>
